:root {
    --bg: #f4f4f0;
    --black: #000;
    --white: #fff;
    --radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    max-width: 1280px;
    margin-inline: auto;
    padding-top: 5px;
}

.nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.btn {
    background-color: var(--black);
    color: var(--white);
    padding: 18px 21px;
    text-align: center;
    border-radius: var(--radius);
    font-family: 'Poppins';
}

.logo {
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}