:root {
    --bg: #f4f4f0;
    --black: #000;
    --white: #fff;
    --radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    background-color: var(--bg);

}

main,
header {
    max-width: 1440px;
    margin-inline: auto;
    padding-top: 5px;
}

.section-breaker {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
}

.nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.btn {
    background-color: var(--black);
    color: var(--white);
    padding: 18px 21px;
    text-align: center;
    border-radius: var(--radius);
    width: fit-content;
}

.logo {
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plataform {
    font-weight: 700;
    letter-spacing: 0.11em;
    margin-top: 10px;
    font-size: 3 0px;
}

.btn.started {
    display: block;
    margin-top: 10px;
}

.get-started {
    width: fit-content;
    margin-top: 250px;
}

.elevate {
    font-size: 40px;
    font-weight: 900;

}

.section-get-started {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.img-get-started {
    margin-top: 50px;
}



footer {
    background-color: #000;
    color: var(--white);
    margin-top: 50px;
}

.logo.footer {
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
}

.footer-width {
    max-width: 1440px;
    margin-inline: auto;
    padding-top: 5px;
}

.footer-div {
    margin-top: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links h3 {
    margin-bottom: 2px;

}

.footer-links a {
    margin-top: 5px;

}

.footer-icons {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.carousel{
    overflow: hidden;
    margin-top: 10px;
}

.track{
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
    gap: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
        transform: translateX(-50%);
  }
}

.carousel:hover .track{
    animation-play-state: paused;
}

.slide{
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.slide div img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.section-carousel {
    margin-top: 100px;
}

.section-carousel-title {
    text-align: center;
    font-size: 30px;
}